body {
	margin: 0;
}

/********** Button 1 ********************/ 
.button1 {
	width: 400px;
	height: 292px;
	background-color: black;
	margin: 10px;
	float: left;
	transition: 1s;
	border: 6px solid rgba(0,0,0,0);

	text-align: center;
	line-height: 300px;
	font-size: 60px;
	color: #ED5C5F;
}

div.button1:hover {
	background-color: white;
	transition: 1s;
	border: 6px solid rgba(0,0,0,1)
}

/********** Button 2 ********************/

.button2 {
	width: 400px;
	height: 300px;
	background-color: white;
	margin: 10px;
	float: left;
	transition: 200ms;
	border: 2px solid rgba(0,0,0,1);

	text-align: center;
	line-height: 300px;
	font-size: 60px;
	font-weight: bold;
	color: #ED5C5F;
}

.button2:hover {
	transition: 300ms;
	color: #1FCFCC;
	font-size: 10px;

}

/********** Button 3 ********************/

div.button3 {
	float: left;
	margin: 10px;
	height: 295px;
	width: 400px;
	background-color: white;
	border: 2px solid black;
	padding-top: 5px;

	font-weight: bold;
	font-size: 60px;
	text-align: center;
	color: #ED5C5F;
	transition: 300ms;
}

div.button3:hover {
	transition: 400ms;
	height: 60px;
	padding-top: 240px;
}

/********** Button 4 ********************/

.button4 {
	float: left;
	margin: 10px;
	height: 300px;
	width:  400px;
	background-color: white;
	border: 2px solid black;
	text-align: center;
}

#toptext {
	font-weight: bold;
	font-size: 60px;
	color: #ED5C5F;
	height: 295px;
	width:  400px;
	padding-top: 5px;
	transition: 1s;
}

#btmtext {
	font-weight: bold;
	font-size: 60px;
	color: #1FCFCC;
	height: 60px;
	width:  400px;
	padding-top: 240px;
	margin-top: -300px;
	transition: 1s;
}


.button4:hover #toptext {
	height: 60px;
	padding-top: 240px;
	transition: 400ms;
}

.button4:hover  #btmtext {
	height: 295px;
	padding-top: 5px;
	transition: 400ms;
}

/********** Button 5 ********************/

.button5 {
	float: left;
	margin: 10px;
	height: 300px;
	width:  400px;
	background-color: white;
	border: 2px solid black;
	text-align: center;
	overflow: hidden;
}

#l_text {
	font-weight: bold;
	font-size: 60px;
	color: #ED5C5F;
	height: 295px;
	width:  400px;
	padding-top: 5px;
	transition: 1s;
}

#r_text {
	font-weight: bold;
	font-size: 60px;
	color: #1FCFCC;
	height: 60px;
	width:  400px;
	padding-top: 240px;
	margin-top: -300px;
	transition: 1s;
}

@keyframes leftrotation {
	0% {}
	50% {
		height: 60px;
		padding-top: 240px;
		-moz-transform: rotate(0deg);
	}
	95% {
		-moz-transform: rotate(-90deg);
	}
	100% {
		height: 295px;
		padding-top: 5px;
		-moz-transform: rotate(-90deg);
		text-align: left;
	}

}

@keyframes rightrotation {
	0% {}
	50% {
		height: 295px;
		padding-top: 5px;
		-moz-transform: rotate(0deg);
	}
	95% {
		-moz-transform: rotate(90deg);
	}
	100% {
		height: 295px;
		padding-top: 5px;
		-moz-transform: rotate(90deg);
		text-align: right;
	}

}

.button5:hover #l_text {
	/* Rotate the top text to the left */
	animation-name: leftrotation;
	animation-duration: 1500ms;
	animation-fill-mode: forwards;
	animation-direction: normal;
	animation-timing-function: cubic-bezier(.95,.03,.67,.63);
}

.button5:hover #r_text {
	/* Rotate the bottom text to the right */
	animation-name: rightrotation;
	animation-duration: 1500ms;
	animation-fill-mode: forwards;
	animation-direction: normal;
	animation-timing-function: cubic-bezier(.95,.03,.67,.63);
}

/********** Button 6 ********************/

.button6 {
	float: left;
	margin: 10px;
	margin-left: 18px;
	height: 240px;
	width:  400px;
	background-color: #144661;
	border: 2px solid black;
	
	font-weight: bold;
	font-size: 70px;
	line-height: 60px;
	padding-top: 60px;
	transition: 600ms;
	padding-left: 0px;
}

.button6:hover {
	transition: 600ms;
	padding-left: 185px;
	width: 215px;
}

/********** Button 7 ********************/

.button7 {
	position: relative;
	float: left;
	height: 300px;
	width: 400px;
	margin: 10px;
	border: 2px solid black;
	overflow: hidden;
}

.burano {
	font-size: 70px;
	font-weight: bold;
	position: absolute;
	top: -70px;
	left: 0px;
	transition: 400ms;
	color: rgba(31,207,204,0);
}

.img7 {
	transition: 700ms;
}

.button7:hover .img7 {
	filter: grayscale(80%) brightness(30%);
	transition: 500ms;
}

.button7:hover .burano {
	top: 230px;
	transition: 400ms;
	transition-timing-function: ease-out;
	color: rgba(31,207,204,1);
}

.visiting {
	font-size: 70px;
	font-weight: bold;
	position: absolute;
	top: 170px;
	left: 400px;
	transition: 500ms;
	color: rgba(237,92,95,0);
}

.button7:hover .visiting {
	left: 0px;
	transition: 500ms;
	color: rgba(237,92,95,1);
}

/********** Button 8 ********************/

.button8 {
	position: relative;
	float: left;
	height: 300px;
	width: 400px;
	border: 2px solid black;
	margin: 10px;
	background-color: rgb(31,207,204);
	transition: 300ms;
}

.button8:hover {
	background-color: rgb(127,240,182);
	transition: 300ms;
}

.hovering {
	position: absolute;
	top: 80px;
	font-size: 115px;
	font-weight: bold;
	color: rgba(127,240,182,1);
	transition: 300ms;
}

.button8:hover .hovering {
	color: rgba(127,240,182,0);	
	transition: 300ms;
}

.release {
	position: absolute;
	top: 80px;
	font-size: 115px;
	font-weight: bold;
	color: rgba(31,207,204,0);
	transition: 300ms;
}

.button8:hover .release {
	color: rgba(31,207,204,1);
	transition: 300ms;
}

/********** Button 9 ********************/

.button9 {
	position: relative;
	float: left;
	height: 300px;
	width: 400px;
	border: 2px solid black;
	margin: 10px;
	background-color: rgb(31,207,204);
	overflow: hidden;
}

.colorblock {
	position: absolute;
	height: 300px;
	width: 400px;
	top: -300px;
	background-color: rgb(237,92,95);
	transition: 500ms;
}
.button9:hover .colorblock {
	top: 0px;
	transition: 500ms;
}

.hover9 {
	position: absolute;
	top: 95px;
	left: 40px;
	font-size: 115px;
	font-weight: bold;
	color: rgb(237,92,95);
}

.release9_a {
	position: absolute;
	bottom: -20px;
	font-size: 115px;
	font-weight: bold;
	color: rgb(31,207,204);
}

.release9_b {
	position: absolute;
	top: 0px;
	font-size: 115px;
	font-weight: bold;
	color: rgb(31,207,204);
}

/********** Button 10 ********************/

.button-10 {
	position: relative;
	float: left;
	height: 300px;
	width: 400px;
	border: 2px solid black;
	margin: 10px;
	margin-left: 18px;
	background-color: #1FCFCC;
	overflow: hidden;
}

.block1-10 {
	/*top block*/
	position: absolute;
	top: -150px;
	height: 150px;
	width: 400px;
	background-color: #ED5C5F;
	transition: 400ms;
}

.button-10:hover .block1-10 {
	/*top block*/
	top: 0px;
	transition: 400ms;
}

.block2-10 {
	/*bottom block*/
	position: absolute;
	top: 0px;
	height: 150px;
	width: 400px;
	background-color: #144661;
	transition: 400ms;
}

.button-10:hover .block2-10 {
	/*bottom block*/
	top: 150px;
	transition: 400ms;
}

.hold-10 {
	position: absolute;
	top: 50px;
	left: 40px;
	font-size: 115px;
	font-weight: bold;
	color: #ED5C5F;
}

.release-10 {
	position: absolute;
	bottom: -20px;
	font-size: 115px;
	font-weight: bold;
	color: #1FCFCC;
}

/********** Button 11 ********************/

@keyframes redblockmove {
	0% { -moz-transform: translate(0,0);}
	25%{ -moz-transform: translate(0,150px);}
	40%{ -moz-transform: translate(0,150px);}
	75%{ -moz-transform: translate(405px,150px);}
	76%{ -moz-transform: translate(405px,0);}
	77%{ -moz-transform: translate(0,0);}
	100%{ -moz-transform: translate(0,0);}
}

@keyframes redtextmove {
	0% { -moz-transform: translate(0,0);}
	25%{ -moz-transform: translate(0,0);}
	26%{ -moz-transform: translate(0,-150px);}
	100%{ -moz-transform: translate(0,-150px);}
}

@keyframes blueblockmove {
	0% { -moz-transform: translate(0,0);}
	25%{ -moz-transform: translate(400px,0);}
	40%{ -moz-transform: translate(400px,0);}
	75%{ -moz-transform: translate(400px,150px);}
	76%{ -moz-transform: translate(0,150px);}
	77%{ -moz-transform: translate(0,0);}
	100%{ -moz-transform: translate(0,0);}
}

@keyframes bluetextmove {
	0% { -moz-transform: translate(0,0);}
	25%{ -moz-transform: translate(400px,0);}
	100%{ -moz-transform: translate(400px,0);}
}

.button-11 {
	float: left;
	position: relative;
	height: 300px;
	width: 400px;
	border: 2px solid black;
	margin: 10px;
	background-color: #144661;
	overflow: hidden;

}

.red-block {
	position: absolute;
	height: 150px;
	width: 400px;
	top: -150px;
	background-color: #ED5C5F;
}

.button-11:hover .red-block {
	animation-name: redblockmove;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.blue-block {
	position: absolute;
	height: 150px;
	width: 400px;
	left: -400px;
	top: 150px;
	background-color: #1FCFCC;
}

.button-11:hover .blue-block {
	animation-name: blueblockmove;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.hold-11 {
	position: absolute;
	top: 25px;
	left: 40px;
	font-size: 115px;
	font-weight: bold;
	color: #ED5C5F;
	transition: 1s;
}

.button-11:hover .hold-11 {
	animation-name: redtextmove;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.release-11 {
	position: absolute;
	bottom: 15px;
	left: -400px;
	font-size: 115px;
	font-weight: bold;
	color: #1FCFCC;
	transition: 1s;
}

.button-11:hover .release-11 {
	animation-name: bluetextmove;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
